h1{
  text-align: center;
}
.div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  aspect-ratio: 3/2 ;
}
video{
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.span1{
  text-shadow: #FC0 1px 0 10px;
}
.span2{
  text-shadow: pink 1px 0 10px;

}
.row{
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: row;
}
h3{
  text-align: left;
}